.user-list {
  text-align: center;
}

.user-list h1 {
  font-size: 24px;
  margin: 20px 0;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  font-size: 18px;
  margin: 10px 0;
}
